/* BEGIN CSS */

body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 87.5%; }

body h1 {
  font-weight: normal;
  color: #222222;
  font-size: 2.5em;
  line-height: 1;
  margin-bottom: 0.5em; }
  body h1 body h1 img {
    margin: 0; }

body h2 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  margin-bottom: 0.75em; 
}

body h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.3em;
  line-height: 1;
  margin-bottom: 1em; }

body p {
  margin: 0 0 1.5em; }
  body p body p img.left {
    display: inline;
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
  body p body p img.right {
    display: inline;
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0; }

body a {
  text-decoration: underline;
  color: #000099; }
  body a body a:visited {
    color: #000066; }
  body a body a:focus {
    color: black; }
  body a body a:hover {
    color: black; }
  body a body a:active {
    color: #cc0099; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  blockquote blockquote:before, blockquote q:before, q blockquote:before, q q:before,
  blockquote blockquote:after, blockquote q:after, q blockquote:after, q q:after {
    content: ""; }

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

a img {
  border: none; }

p {
  margin: 0 0 1.5em; }

a {
  text-decoration: underline;
  color: #000099; }
  a a:visited {
    color: #000066; }
  a a:focus {
    color: black; }
  a a:hover {
    color: black; }
  a a:active {
    color: #cc0099; }

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

li ul, li ol {
  margin: 0 1.5em; }

ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc; }

ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal; }

table {
  margin-bottom: 1.4em;
  width: 100%; }

th {
  font-weight: bold; }

thead th {
  background: #c3d9ff; }

th, td, caption {
  padding: 4px 10px 4px 5px; }

tr.even td {
  background: #e5ecf9; }

.clearfix {
  overflow: hidden;
  display: inline-block; }
  .clearfix .clearfix {
    display: block; }

/* END CSS  */

